<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dwhpro.quizappnew"
    android:versionCode="18"
    android:versionName="1.2.0"> <!-- <compatible-screens> -->
    <!-- &lt;!&ndash; all normal size screens &ndash;&gt; -->
    <!-- <screen android:screenSize="normal" android:screenDensity="mdpi" /> -->
    <!-- <screen android:screenSize="large" android:screenDensity="mdpi" /> -->
    <!-- <screen android:screenSize="normal" android:screenDensity="hdpi" /> -->
    <!-- <screen android:screenSize="normal" android:screenDensity="xhdpi" /> -->
    <!-- <screen android:screenSize="large" android:screenDensity="mdpi"/> -->
    <!-- </compatible-screens> -->
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.dwhpro.HASplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dwhpro.Activities.HAMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.dwhpro.Activities.HAAboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dwhpro.Activities.HAInterstitialAdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name="com.dwhpro.TwitterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="quizdemoapp"
                    android:scheme="callback" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dwhpro.WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dwhpro.HAWorldScoreActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1428988523793461"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id_fb" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/facebook_app_name" />

        <service
            android:name="com.dwhpro.service.BackGroundMusicService"
            android:enabled="true" />

        <activity
            android:name="com.dwhpro.Activities.HAGameActivity_new"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dwhpro.Activities.HACategoriesActivity_new"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dwhpro.Activities.HAHighScoresActivity_new"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dwhpro.Activities.HASettingsActivity_new"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dwhpro.Activities.HAMultiplayerMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dwhpro.Activities.HAMultiplayerResultActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.dwhpro.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.dwhpro.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.dwhpro.service.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b588fae87cf49dde6f081fbb7f6e09e74d91d0d2" />

    </application>

</manifest>